
<style>
    .single-img {
        display: flex;
    }
    .single-img img {
        float: left;
        width: 100%;
        padding: 2%;
        background-color: rgba(0, 0, 0, 0.01 );
    }
    .double-img {
        display: flex;
    }
    .double-img img {
        float: left;
        width: 50%;
        padding: 0.5%;
        background-color: rgba(0, 0, 0, 0.05 );
    }
    .embed-youtube {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        background-color: rgba(0, 0, 0, 0.01 );
    }
    .embed-youtube iframe {
        position: absolute;
        left: 0;
        top: 0;
        padding: 1%;
        height: 100%;
        width: 100%;
    }
</style>
